*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas{
  border: 1px solid black;
  background: #b5b5ff;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  font-family: sans-serif;
  color: white;
}

.bannerTop {
  position: fixed;
  width: 552px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: black;
  }

   p {
    margin: 3px;
    user-select: none;
  }

.bannerBottom{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 552px;
  background: black;

}

.menu{
  cursor: pointer;
}

.game{
  position: relative;
}
.bannerMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, 0.7);
  font-weight: bold;
}

.bannerMenu p:hover{
  color: yellow;
  cursor: pointer;
}

.hidden {
  display: none;
}
